build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-integration-vscode/cache-v2
build/.cmake/api/v1/query/client-integration-vscode/cmakeFiles-v1
build/.cmake/api/v1/query/client-integration-vscode/codemodel-v2
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-327ac16a0e9f932a7522.json
build/.cmake/api/v1/reply/cmakeFiles-v1-2e24aa4eb8086b432cee.json
build/.cmake/api/v1/reply/codemodel-v2-a440b1dcf6ca0c35378f.json
build/.cmake/api/v1/reply/index-2020-11-10T17-42-38-0168.json
build/.cmake/api/v1/reply/target-core-Debug-af38c5a139e1a691fa77.json
build/.cmake/api/v1/reply/target-glew-Debug-6a6d72282d29bd2aff57.json
build/.cmake/api/v1/reply/target-glfw-Debug-8de020e79d72302c159c.json
build/.cmake/api/v1/reply/target-imgui-Debug-a859ad56a0501a191368.json
build/.cmake/api/v1/reply/target-ImGuiExample-Debug-e6467f385b4d2d6c6470.json
build/.cmake/api/v1/reply/target-nanovg-Debug-fca0bead53dbbadda604.json
build/.cmake/api/v1/reply/target-PathTracing-Debug-b35fab0117c9a16ee13c.json
build/.cmake/api/v1/reply/target-render-Debug-bc61fa6f8cf69744ba02.json
build/.cmake/api/v1/reply/target-Skeleton-Debug-5f273f4f6f65d6a48b98.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeError.log
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.18.4/CMakeCCompiler.cmake
build/CMakeFiles/3.18.4/CMakeCXXCompiler.cmake
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.18.4/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.18.4/CMakeSystem.cmake
build/CMakeFiles/3.18.4/CompilerIdC/a.out
build/CMakeFiles/3.18.4/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.18.4/CompilerIdCXX/a.out
build/CMakeFiles/3.18.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/engine/cmake_install.cmake
build/engine/core/cmake_install.cmake
build/engine/core/libcore.a
build/engine/core/CMakeFiles/core.dir/app.cc.o
build/engine/core/CMakeFiles/core.dir/__/config.cc.o
build/engine/render/cmake_install.cmake
build/engine/render/librender.a
build/engine/render/CMakeFiles/render.dir/window.cc.o
build/engine/render/CMakeFiles/render.dir/__/config.cc.o
build/exts/cmake_install.cmake
build/exts/libimgui.a
build/exts/libnanovg.a
build/exts/CMakeFiles/imgui.dir/imgui/imgui_demo.cpp.o
build/exts/CMakeFiles/imgui.dir/imgui/imgui_draw.cpp.o
build/exts/CMakeFiles/imgui.dir/imgui/imgui.cpp.o
build/exts/CMakeFiles/imgui.dir/imgui/examples/opengl3_example/imgui_impl_glfw_gl3.cpp.o
build/exts/CMakeFiles/nanovg.dir/nanovg/src/nanovg.c.o
build/exts/glew/cmake_install.cmake
build/exts/glew/libglew.a
build/exts/glew/CMakeFiles/glew.dir/src/glew.c.o
build/exts/glfw/cmake_install.cmake
build/exts/glfw/src/cmake_install.cmake
build/exts/glfw/src/glfw_config.h
build/exts/glfw/src/glfw3.pc
build/exts/glfw/src/glfw3Config.cmake
build/exts/glfw/src/glfw3ConfigVersion.cmake
build/exts/glfw/src/libglfw3.a
build/exts/glfw/src/CMakeFiles/glfw.dir/context.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/egl_context.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/glx_context.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/init.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/input.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/linux_joystick.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/monitor.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/posix_time.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/posix_tls.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/vulkan.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/window.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/x11_init.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/x11_monitor.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/x11_window.c.o
build/exts/glfw/src/CMakeFiles/glfw.dir/xkb_unicode.c.o
build/projects/cmake_install.cmake
build/projects/ImGuiExample/cmake_install.cmake
build/projects/PathTracing/cmake_install.cmake
build/projects/Skeleton/cmake_install.cmake
build/projects/Skeleton/CMakeFiles/Skeleton.dir/code/exampleapp.cc.o
build/projects/Skeleton/CMakeFiles/Skeleton.dir/code/main.cc.o
build/projects/Skeleton/CMakeFiles/Skeleton.dir/code/NAX3parser.cc.o
build/projects/Skeleton/CMakeFiles/Skeleton.dir/code/nvx2streamreader.cc.o
build/projects/Skeleton/CMakeFiles/Skeleton.dir/code/tinyxml2.cc.o
.vscode/settings.json
bin/Skeleton
build/.cmake/api/v1/reply/index-2020-11-11T07-39-47-0110.json
bin/PathTracing
bin/picture.ppm
build/.cmake/api/v1/reply/index-2020-11-11T07-49-16-0030.json
build/projects/ImGuiExample/CMakeFiles/ImGuiExample.dir/code/main.cc.o
build/projects/PathTracing/CMakeFiles/PathTracing.dir/code/main.cc.o
build/.cmake/api/v1/reply/cache-v2-b5edcc158c6159d0eb69.json
build/.cmake/api/v1/reply/cmakeFiles-v1-0e821ce558dd9d000b47.json
build/.cmake/api/v1/reply/codemodel-v2-86c46167ec679f592dc8.json
build/.cmake/api/v1/reply/index-2020-11-11T08-54-44-0583.json
build/.cmake/api/v1/reply/target-Scripting-Debug-49689b1b49bfc8f95d5f.json
build/projects/Scripting/cmake_install.cmake
build/projects/Scripting/CMakeFiles/Scripting.dir/code/exampleapp.cc.o
build/projects/Scripting/CMakeFiles/Scripting.dir/code/main.cc.o
build/projects/Scripting/CMakeFiles/Scripting.dir/code/NAX3parser.cc.o
build/projects/Scripting/CMakeFiles/Scripting.dir/code/nvx2streamreader.cc.o
build/projects/Scripting/CMakeFiles/Scripting.dir/code/tinyxml2.cc.o
bin/Scripting
a.out
